<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

</head>
<body>
    <header>
        <div class="logo">Tasker!</div>
        <ul class="menu">
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </header>

    <h1>Log in to see your tasks</h1>
    <p><a href="/auth/login">Log in here!</a></p> 
    

    <footer>
        <p>&copy; 2025 Tasker!. All rights reserved.</p>
    </footer>

</body>
</html>